#desc2 {
    background-color: #fff8c5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 0.5%;
    padding-bottom: 0.5%;
    font-size: 20px;
    border-radius: 15px;
}

#title2 {
    background-color: #fff8c5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: #2D3173;
    font-family: Inknut Antiqua;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;

}

#AI2 {
    width: 80%;
    background-color: #fff8c5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    margin-top: 1.5%;
    font-size: 20px;
    border-radius: 15px;
    text-align: left;
    justify-self: center;
    white-space: pre-wrap;
    justify-items: center;
    position: relative;
}

#aiImg2 {
    width: 400px;
    height: 400px;
    margin: auto;
    display: block;
}

.descA {
    text-align: center;
}

.descB {
    margin-top: 0;
}

.descC {
    position: absolute;
    top: 20px;
    left: 1020px;
    color: #2d3173;
}

.DA {
    font-size: 2em;
    margin-top: 1.5em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-family: Inknut Antiqua;
    font-weight: bold;
    color: #FFF39A;
    display: block;
}