.currStreak {
    width: 20%;
    background-color: #a21939;
    color: #FFF39A;
    font-family: Inknut Antiqua;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    margin: 4% auto auto auto;
    text-align: center;
    justify-self: center;
    border-radius: 15px;
}

.descInfo {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
.statNumber {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bolder;
    font-size: 30px;
}

.basicInfo {
    width: 50%;
    height: 300px;
    color: #2D3173;
    font-size: 20px;
    font-family: Inknut Antiqua;
    margin: 3% auto auto auto;
    padding-top: 1%;
    text-align: center;
    justify-self: center;
}

.dreamCount {
    background-color: #FFF39A;
    border-top-left-radius: 15px;
    display: inline-block;
    height: 50%;
    width: 49.9%;
    margin-right: 0.1%;
    align-items: center;
    align-content: center;
}

.highestGenre {
    background-color: #FFF39A;
    border-top-right-radius: 15px;
    border-left: #2D3173;
    display: inline-block;
    height: 50%;
    width: 50%; 
    align-items: center;
    align-content: center;
}

.highestStreak {
    background-color: #FFF39A;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: inline-block;
    margin-top: 0.1%;
    height: 49.9%;
    width: 100%;
    align-items: center;
    align-content: center;

}

.heatMap {
    margin: 50px auto auto auto;
    width: 1300px;
    text-align: center;
    justify-self: center;
    justify-items: center;
}

.stat-headers {
    color: #FFF39A;
    margin-bottom: 20px;
    font-family: Inknut Antiqua;
    font-size: 30px;
}

.selection {
    width: 100px;
    height: 40px;
    margin-bottom: 30px;
    background-color: #FFF39A;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
    padding-left: 5px;
    font-weight: bolder;
    color: #2D3173;
    border: none;
}

.selection {
    width: 100px;
    height: 40px;
    margin-bottom: 30px;
    background-color: #FFF39A;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
    padding-left: 5px;
    font-weight: bolder;
    color: #2D3173;
    border: none;
}

.selectionGenre {
    width: 110px;
    height: 40px;
    margin-bottom: 30px;
    background-color: #FFF39A;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
    padding-left: 5px;
    font-weight: bolder;
    color: #2D3173;
    border: none;
}

.heatmap-style{
    color: #fff39a;
    margin: auto;
}